{% extends "base_index.html" %}
{% block content %}

<h1>🔐 Autenticación por Voz</h1>
<p>Graba tu voz para verificar acceso.</p>

<button onclick="registrarVoz()" 
        style="padding:12px 25px; margin:10px; font-size:16px; border:none; border-radius:10px; background:#007BFF; color:white; cursor:pointer;">
    Registrar voz base
</button>

<button onclick="verificarVoz()" 
        style="padding:12px 25px; margin:10px; font-size:16px; border:none; border-radius:10px; background:#007BFF; color:white; cursor:pointer;">
    Verificar voz
</button>

<div id="mensaje" style="margin-top:20px; font-weight:bold; font-size:18px;"></div>

<p><a href="/">⬅️ Volver al inicio</a></p>

<script src="/static/grabar.js"></script>

{% endblock %}